@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "E-mail de troca de senha enviado com sucesso!";
}

<div class="row mt-3">
    <div class="col-xl-12 text-white text-center">
        <h1>
            @ViewData["Title"]
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 text-warning text-center">
        Verifique seu e-mail para trocar sua senha.
    </div>
</div>