@page
@model ForgotPasswordModel
@{
    ViewData["PageName"] = "forgotpassword";
}

<div class="row">
    <div class="col-xl-12">
        <h2 class="fs-xxl fw-500 text-white text-center">
            "Esqueceu sua senha?"
            <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60 hidden-sm-down">
                Sem problemas, poderia acontecer com qualquer um de nós! </br> Abaixo você poderá recuperar sua conta.
            </small>
        </h2>
    </div>
</div>>

<div class="col-xl-6 ml-auto mr-auto">
    <div class="card p-4 rounded-plus bg-faded">
        <form id="js-login" method="post">
            <div class="form-group">
                <label class="form-label" asp-for="Input.Email">E-mail cadastrado em sua conta</label>
                <input type="email" asp-for="Input.Email" class="form-control" placeholder="E-mail de recuperação" required>
                <span class="invalid-feedback" asp-validation-for="Input.Email">Informe um e-mail válido.</span>
                <div class="help-block">Enviaremos um e-mail com as informações para recuperação.</div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-4 ml-auto text-right">
                    <button id="js-login-btn" type="submit" 
                        style="background-color: #ffad00; color=#ffffff; border-color: #ffad00;"
                        class="btn btn-danger">Recuperar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#js-login-btn").click(function (event) {
            // Fetch form to apply custom Bootstrap validation
            var form = $("#js-login");

            if (form[0].checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.addClass('was-validated');
            // Perform ajax submit here...
        });
    </script>
}
