@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Sua senha foi alterada com sucesso!";
}

<div class="row mt-3">
    <div class="col-xl-12 text-white text-center">
        <h1>
            @ViewData["Title"]
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 text-center">
        <a class="text-warning" asp-page="./Login">Clique aqui para fazer login</a>.
    </div>
</div>