@if (Settings.Features.ShortcutMenu)
{
<nav class="shortcut-menu d-none d-sm-block">
	<input type="checkbox" class="menu-open" name="menu-open" id="menu_open"/>
	<label for="menu_open" class="menu-open-button ">
		<span class="app-shortcut-icon d-block"></span>
	</label>
	<a href="#" class="menu-item btn" data-toggle="tooltip" data-placement="left" title="Subir ao topo">
		<i class="@(Settings.Theme.IconPrefix) fa-arrow-up"></i>
	</a>
	<a href="Identity/Account/Logout" class="menu-item btn" data-toggle="tooltip" data-placement="left" title="Sair">
		<i class="@(Settings.Theme.IconPrefix) fa-sign-out"></i>
	</a>
	<a href="#" class="menu-item btn" data-action="app-fullscreen" data-toggle="tooltip" data-placement="left" title="Tela inteira">
		<i class="@(Settings.Theme.IconPrefix) fa-expand"></i>
	</a>
	<a href="#" class="menu-item btn" data-action="app-print" data-toggle="tooltip" data-placement="left" title="Imprimir página">
		<i class="@(Settings.Theme.IconPrefix) fa-print"></i>
	</a>
</nav>
}